@import '../variables';

.homepage-text {
  padding: 50px 45px;
}

@media (min-width: 1100px) {
  .homepage-text {
    padding: 70px 290px;
  }
}

.homepage-text.about {
  background-color: $theme-primary-colour;
  color: $theme-secondary-colour;
}

.homepage-text.vision {
  background-color: #ffffff;
  color: rgb(82, 82, 82);
}

.homepage-text h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}

.homepage-text p {
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  text-align: center;
}

.homepage-text span {
  font-style: italic;
}

.homepage-text.about a {
  color: $theme-secondary-colour;
}
